  .menu {
    .artclose {
      position: fixed;
      left: 5em;
      top: 4.4em;
      cursor: pointer;
      width: 50px;
      height: 34px;
      z-index: 5;

    }
    .nav_wrap {
      position: fixed;
      z-index: 2;
      bottom: 0;
      left: 0;
      top: 0;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 13em 0 4.4em;
      box-shadow: 30px 0 128px rgba(0, 0, 0, 0.14);
      max-width: calc(50vw - 13px);;
      width: 100%;
      transform: translateX(-50vw);
      transition: .5s all;
        &.open {
          transform: translateX(0);
        }
        ul {
        display: flex;
        flex-direction: column;
        }
        .logo {
          width: 126px;
          height: 30px;
          position: absolute;
          right: 4em;
          top: 4.5em;
          img {
            width: 100%;
            height: 100%;
          }
        }
      nav {
        // margin-top: 13.4rem;
      }
      .menu_link {
        padding: 0 7.5rem;
        margin-bottom: 1rem;
        position: relative;
        &:hover {
          &:before {
            transform: scaleX(1)
          }
        }
        &:before {
          content: '';
          transition: .3s;
          height: 1px;
          background-color: $blue;
          width: 4.9rem;
          position: absolute;
          left: 0;
          top: 50%;
          transform: scaleX(0);
          transform-origin: 0;
          
        }       
      }
      .contact_block {
        display: flex;
        flex-direction: column;
        margin-left: 7.5rem;
        p {
          font-family: Gilroy;
          font-size: 16px;
          color: #939393;
          font-style: italic;
          margin-bottom: 10px;
        }
        .title {
          font-family: GilroyBold;
          color: #424242;
          text-transform: uppercase;
          font-size: 2em;
        }
      }
      .mail {
        color: $blue;
        text-decoration: underline;
        font-family: GilroyBold;
        margin-left: 7.5rem;

      }   
      .separator {
        background-color: #a5a5a5;
        height: 1px;
        width: 50px;
        margin-left: 7.5rem;
      } 
    }
  }


.artclose {
height: 30px;
  width: 33px;
  cursor: pointer;
}

.burgx, .burgx2, .burgx3 {
  margin-top: 3px;
  background: #fff;
  width: 33px;
  height: 4px;
  position: absolute;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}
.burgx {
  width: 25px;
}
.burgx2 {
 margin-top: 13px;
}
.burgx3 {
  margin-top: 23px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.menu_link {
  color: $blue;
  font-family: GilroyBold;
  font-size: 4em;
  display: inline-block;
  a {

    &:hover {
      animation: animate_menu_link 1s;
    }   
  }
}