// импортируем составные части
@import "item-block";

// позиционированние
.g-items {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	&__single {
		min-width: 50%;
		max-width: 50vw;
		height: 40vw;		
	}
}

// верхняя секция страницы
.page-header {
	flex-direction: column;
	position: relative;
	&:after {
		content: '';
		position: absolute;
	    width: calc(50% + 6em);
		top: 0;
		bottom: 0;
		right: -6em;
		opacity: .4;
		z-index: -2;
		background-color: #001bff;
	}
	&__wrapper {
		display: flex;		
		flex: 1;
		width: 100vw;
		flex-basis: 55%;
	}
	&__empty {
		flex: 1;
		flex-basis: 45%;
	}
	&__left-section {
		display: flex;
		align-items: flex-start;
		justify-content: center;	
		width: 50%;
		color: #fff;
		font-family: GilroyBold;
		font-size: 4.93333rem;
	}
	&__left-section__h1 {
		margin-top: -1.5rem;		
	}
	&__right-section {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		width: 50%;
		position: relative;
		left: 60px;
		color: #fff;
		font-size: 0.866667rem;
		p {
			width: 23.6rem;
		}
		&__title {
			font-family: GilroyBold;
			font-size: 1.86667rem;
			margin-bottom: 1.53333rem;
		}
	}	
}

