// import reset css
@import "elements/reset";

// import fonts
@import "elements/fonts";

// import settings
@import "elements/settings";




// animate background webgl stylesheet
.bgCanvas {

	div {
		width: 100vw !important;
	}
	canvas {
		will-change: transform;
		width: 100vw !important;
	}
}

// import site elements
@import "elements/menu";
@import "elements/preloader";
@import "elements/hello_section";
@import "elements/keyframes";
@import "elements/media";
@import "elements/__page-item/page-item";
@import "elements/__contact-us/contact-us";


html {
	font-size: 15px;
	height: 100%;
}
body {
	font-family: CYPro;
	font-weight: normal;
	speak: none;
	display: flex;
	min-height: 100vh;
    width: 100%;
    height: 100%;
	position: relative;
	-webkit-font-smoothing: antialiased;
	position: relative;
	overflow-x: hidden;
	color: #939393;
}

// main structure stylesheet
.wrapper {
	z-index: 1;
    width: 100%;
    position: absolute;	
    left: 0;
    top: 0;
	@include back;	
		&:before {			
			background-color: #fff;
			width: 100%;
			z-index: -2;
		}	
	&.opacity {
		
		&:before {			
			
			transition: 1s;
			opacity: .4;
			z-index: 20;
		}		
	}    
}
.small {
	font-size: 0.866667rem;	
}
.color-666 {
	color: #666666;
}
.color-93 {
	color: #939393;	
}
.arrow-up {
	transform: rotate(269deg);
	cursor: pointer;
	position: fixed;
	bottom: 60px;
	right: 60px;
	z-index: 10;
	opacity: 0;
    pointer-events: none;
	transition: 0.3s;
	&:hover {
		opacity: .7;
	}
	&--show {
		opacity: 1;
		pointer-events: all;
	}
	&__text {
		font-size: 13px;
		color: #666666;
		display: inline-block;
		transform: rotate(180deg) ;
	}
	&__svg {


		svg {

			transform: rotate(90deg) translate(6.5px,-16px);
			width: 7px;
			height: 21px;			
		}		
	}
}
#arrow {
			fill: #666666;
}


	.big-text-section {
		height: 100vh;
		width: 100%;
		position: relative;
		box-sizing: border-box;
		display: flex;
		overflow: hidden;	
		color: #666666;

		&--low {
			height: 21vmax;
		}

		&__left-side, &__right-side {
			display: flex;
			flex-basis: 50%;
			align-items: center;
		}	
		&__left-side {
			justify-content: center;
		}
		&__right-side {
			justify-content: flex-start;
		}
		&__right-wrap {
			width: 70%;
			padding-left: 4rem;
		}
		&__right-wrap-services {
		    margin: auto;			
		}
		&__title {
			font-size: 4.8rem;
			color: $blue;
			margin-top: -3.06667rem;
			font-family: GilroyBold;
		}
		&__desc {
			margin-bottom: 1.53333rem;
			font-family: GilroyBold;
			line-height: 1.4rem;
		}
		&__link {
			font-family: MinionPro;
			font-size: 1rem;

			&--border {
				box-shadow: inset 0px -1px 0px 0px #666666;
				position: relative;
			    will-change: transform;
				&:before {
					content: '';
					position: absolute;
					left: 0;
					bottom: 0;
					right: 0;
					height: 1px;
					background-color: $blue;
					transform: scaleX(0);
					transition: .3s;
				    transform-origin: 0 50%;
				}
				&:hover {
					&:before {
						transform: scaleX(1);

					}
				}				
			}
			&--arrow {
				display: flex;
				margin: auto;
			    &:hover {
			      .contact-us__arrow {
			        #arrow {
			          transform: translateX(110px);
			        }
			        #call-made_1_ {
			          transform: scaleX(1.5);

			        }

			      }
			    } 				

			}
		}
		&__left-text {
			width: 61%;
			font-size: 0.866667rem;
			line-height: 1.4rem;
			margin-left: auto;
			padding-right: 4rem;
		}
		&__right-title {
			font-family: GilroyBold;
			font-size: 1rem;
		    margin-bottom: 1.7rem;
		    margin-top: 2px;
		    &--project-page {
		    	margin-top: 4px;
		    	margin-bottom: 1.5rem;
		    }
		}
		&__right-services-name {
			font-family: CYPro;
			line-height: 1.4rem;
			font-size: 0.866667rem;
			&:before {
				content:'-';
				color: $blue;
			}
		}
		&__link-arrow {
			display: block;
			width: 20px;
			margin-right: 1.4rem;
			svg {
			    will-change: transform;
				width: 50px;
				fill: $blue;
			}
			#arrow {
				fill: $blue;
			}

		}
		&__center-wrapper {
			display: flex;
			&--top-align {
				align-items: flex-start;
				margin-top: 0;
			}
		}	
		&--center {
			align-items: center;
		}	
	}

