// import reset css
@import "elements/reset";

// import fonts
@import "elements/fonts";

// import settings
@import "elements/settings";




// animate background webgl stylesheet
.bgCanvas, .contact-us__background {
	div {
		width: 100vw !important;
	}
	canvas {
		width: 100vw !important;
	}
}

// import site elements
@import "elements/menu";
@import "elements/preloader";
@import "elements/hello_section";
@import "elements/keyframes";
@import "elements/media";
@import "elements/__page-item/page-item";
@import "elements/__contact-us/contact-us";


html {
	font-size: 15px;
}
body {
	font-family: CYPro;
	font-weight: normal;
	speak: none;
	display: flex;
	min-height: 100vh;
	width: 100vw;
	position: relative;
	-webkit-font-smoothing: antialiased;
	position: relative;
	overflow-x: hidden;
}

// main structure stylesheet
.wrapper {
	z-index: 1;
    width: 100vw;
    position: relative;	
	@include back;	
		&:before {			
			background-color: #fff;
			width: 100vw;
			z-index: -2;
		}	
	&.opacity {
		
		&:before {			
			
			transition: 1s;
			opacity: .4;
			z-index: 20;
		}		
	}    
}


.arrow-up {
	transform: rotate(269deg);
	cursor: pointer;
	position: fixed;
	bottom: 60px;
	right: 60px;
	z-index: 10;
	opacity: 0;
	transition: 0.3s;
	&--show {
		opacity: 1;
	}
	&__text {
		font-size: 14px;
		color: $gray;
		display: inline-block;
		transform: rotate(180deg) ;
	}
	&__svg {
		svg {
			transform: rotate(90deg) translate(6.5px,-16px);
			width: 7px;
			height: 21px;			
		}		
	}
}


